<%= @research.title %>

<%= @research.subtitle %>

<%= render :partial => 'admin/researches/research_options' %>

<%=  _("Moderators") %>

<%= render :partial => 'moderators_options' %>

<ul>
<%- @users.each do |user| %>
  <li> 
    <%= user.login %>
  </li>
<% end %>
</ul>
