<h1><%= @research.title %></h1>

<h2><%= @research.subtitle %></h2>

<%= render :partial => 'admin/researches/research_options' %>

<%=  t(:new_moderator) %>

<%= render :partial => 'moderators_options' %>

<% form_for @user, :url => users_path(:method => :post) do |f| -%>

  <%= render :partial => 'users/form', :locals => {:f => f} %>

  <p><%= submit_tag t(:sign_up) %></p>

<% end -%>
