<%= @research.title %>

<%= @research.subtitle %>

<%= render :partial => 'admin/researches/research_options' %>

<%=  t(:new_moderator) %>

<%= render :partial => 'moderators_options' %>

<% form_for @user, :url => users_path(:method => :post) do |f| -%>

  <%= render :partial => 'users/form', :locals => {:f => f} %>

  <p><%= submit_tag t(:sign_up) %></p>

<% end -%>
