<div id="column-1">
<ul id="research_menu">
  <li> <%= link_to t(:list_all), collection_url %> </li>
  <li> <%= link_to t(:edit), edit_object_url(@research) %> </li>
  <li> <%= link_to t(:destroy), { :action => "destroy", :id => @research.id }, :confirm => t(:message_confirmation), :method => :delete %></li>
  <li> <%= link_to t(:role_management), role_management_survey_research_url(@research) %> </li> 
  <li> <%= link_to t(:items), survey_research_items_url(@research) %> </li>
</ul>
</div>
