<h1><%= title t(:editing_survey) %></h1>

<%= error_messages_for :survey %>

<%= render :partial => 'survey_options', :locals => {:survey => @survey } %>

<% form_for(:survey, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag t(:update) %>
  </p>
<% end %>
<%= link_to t(:back), object_url %>

