<h1><%=t(:new_research)%></h1>

<%= error_messages_for :research %>

<% form_for(:research, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
<br/>
<%= link_to t(:back), collection_url %>
