<h1><%= t(:role_management) %></h1>
<p><%= flash[:error] %></p>

<%= render :partial => 'survey_options', :locals => {:survey => @survey } %>

<div id="role_management">
<% @members.each do |member| %>
  <% form_for(@survey, :url => {:action => 'edit_member', :user_id => member.id},                                              :html => {:method => :put}) do %>
    <ul><span class="heading"><%= member.login %></span>
       <li><%= select("role", "id", Role.all.collect {|r| [ r.name, r.id ] },                                                                      {:selected => role_id(member, @survey)})%></li>
       <li><%= submit_tag t(:update) %> </li>
  <% end %> 
       <li><%= link_to t(:remove), {:action => "remove_member", :id => @survey.id , :user_id => member.id},                                         :confirm => t(:message_confirmation) %></li>
    </ul>
    <br> 
<% end %>
    
<br><br>
<% form_tag new_member_survey_survey_path, :method => :put do %>
  <ul><%= label_tag t(:new_member) + ":" , nil,  :class => :heading %>
     <li><%= select("user", "id", @non_members.collect {|u| [ u.login, u.id ] }) %></li>
     <li><%= label_tag t(:role) + ":" %>
          <%= select("role", "id", Role.all.collect {|r| [ r.name, r.id ] }) %></li>
     <li><%= submit_tag t(:add) %></li>
  </ul>
<% end %>
</div>

