<h2><%= t(:role_management) %></h2>
<p><%= flash[:error] %></p>

<% @members.each do |member| %>
  <% form_for(@research, :url => {:action => 'edit_member', :user_id => member.id},                                              :html => {:method => :put}) do %> 
    <p><%= member.login %></p> 
    <p><%= select("role", "id", Role.all.collect {|r| [ r.name, r.id ] },                                                                      {:selected => role_id(member, @research)})%></p>
    <p><%= submit_tag t(:update) %> </p>
  <% end %> 
   <p><%= link_to t(:remove), {:action => "remove_member", :id => @research.id , :user_id => member.id},                                         :confirm => t(:message_confirmation) %></p>
<% end %>

<br>
<% form_tag new_member_survey_research_path, :method => :put do %>
  <p><%= label_tag t(:new_member) + ":" %>
    <%= select("user", "id", @non_members.collect {|u| [ u.login, u.id ] }) %>
  </p>

  <p><%= label_tag t(:role) + ":" %>
    <%= select("role", "id", Role.all.collect {|r| [ r.name, r.id ] }) %>
  </p>
  <%= submit_tag t(:add) %>
<% end %>

<br>
<p><%= link_to t(:research), survey_research_path(@research) %></p> 
