<%= error_messages_for :survey %>

<%= title  @survey.title %> <%= survey_buttons @survey.id %> 
<%= subtitle  @survey.subtitle %>

<%= render :partial => 'survey_options', :locals => {:survey => @survey } %>


<p class="introduction">
  <%= @survey.introduction %>
</p>

