<p>
  <label for="item_info"><%= t(:info) %></label>
  <%= f.text_field :info %>
</p>
<p>
  <label for="item_position"><%= t(:position) %></label>
  <%= select_position(@positions) %>
</p>
<p>
  <label for="html_type"><%= t(:html_type) %></label>
  <%= select_type %>
</p>



