
<ul id="list_items">
  <% @items.each do |item| %>
    <li id="item_<%= item.id %>"> 
      <%= item.position %> - <%= item.info%> 
      <ul>
        <li> <%= design_display_button 'edit', t(:edit), edit_admin_research_item_url(@research.id, item.id) %> </li>
        <li> <%= design_display_button 'item_value', t(:add_itemvalue), new_admin_item_item_value_url(item.id) %> </li>
      </ul>
      <% if item.kind_of?(Question) %>
        <ul>
          <% item.item_values.map do |item_value| %>
            <li> 
              <%= item_value.info %> 
              <ul>
                <li>
                  <%= design_display_button 'edit', t(:edit), edit_admin_research_item_item_value_url(@research, item, item_value) %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= 
  sortable_element 'list_items', 
        :complete => visual_effect(:highlight, 'list_items'), 
        :url => { :action => "reorder_items", :page => params[:page]},
        :failure => "$('error').innerHTML= request.responseText",
        :constraint => false,
        :dropOnEmpty => true,
        :containment =>  ['list_items']
%>

