
<ul id="list_items">
  <% @items.each do |item| %>
    <li id="item_<%= item.id %>"> 
      <%= item.info + "  id:" + item.id.to_s %> 
      <ul>
        <li> <%= design_display_button 'edit', _('Edit'), edit_admin_research_item_url(@research, item) %> </li>
        <li> <%= design_display_button 'answer', _('Add Answer Options'), admin_research_item_answers_url(@research, item) %> </li>
      </ul>
      <% if item.kind_of?(Question) %>
        <ul>
          <% item.answers.map do |answer| %>
            <li> 
              <%= answer.info %> 
              <ul>
                <li>
                  <%= design_display_button 'edit', _('Edit'), edit_admin_research_item_answer_url(@research, item, answer) %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= 
  sortable_element 'list_items', 
        :complete => visual_effect(:highlight, 'list_items'), 
        :url => { :action => "reorder_items", :page => params[:page]},
        :failure => "$('error').innerHTML= request.responseText",
        :constraint => false,
        :dropOnEmpty => true,
        :containment =>  ['list_items']
%>

