<p class="title"><%=  t(:listing_items) %></p>

<h1><%=  @research.title %></h1>

<h2><%=  @research.subtitle %></h2>

<%= render :partial => 'admin/researches/research_options' %>

<%=  t(:items) %>

<%= render :partial => 'items_options' %>


<%= render :partial => 'list_items' %>

<%= render :partial => 'page_links' %>

