<p>
  <strong><%= t(:info) %> </strong><%=h @item.info %>
</p>

<% if @item.kind_of?(Question) %>
<p>
  <strong><%= t(:html_type) %> </strong><%=h @item.html %>
</p>
<% end %>
<p>
  <strong><%= t(:is_optional) %> </strong>
  <% if @item.is_optional %>
    <%=h t(:yes) %>
  <% else %>
    <%=h t(:no) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_object_url(:item_type => @item.type.blank? ? "question" : @item.type.downcase) %>
|
<%= link_to 'Back', collection_url %>
|
<%= link_to t(:destroy), { :action => "destroy", :id => @item.id }, :confirm => t(:message_confirmation), :method => :delete %>
