<h2><%= t(:item_values) %></h2>

<%= error_messages_for :item_value %>
<%= render :partial => 'survey/surveys/survey_options' %>
<%= render :partial => "list_item_values", :locals => {:item => @item} %>

<% form_for([:survey, @survey, @item, @item_value]) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t(:create) %>
  </p>
<% end %>
<br/>
<%= link_to t(:item), survey_survey_items_path(@item.survey_id, :page => @item.page_id) %>

