<%= title t(:listing_sections) %>

<table>
  <tr>
    <th> <%= t(:sections) %> </th>
  </tr>
  <%- @sections.each do |section|%>
    <tr>
      <td><%=h section.info %></td>
      <td><%=link_to t(:show), object_url(section) %></td>
      <td><%=link_to t(:edit), edit_object_url(section) %></td>
      <td><%=link_to t(:destroy), object_url(section), :confirm => t(:confirm), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to t(:new_section), new_object_url %>
