<%= title @research.title %>

<%= subtitle @research.title %>

<%= render :partial => 'admin/researches/research_options' %>

<%= inner_title _("Questions") %>

<%= render :partial => 'questions_options' %>

<ul>
<%- @items.each do |user| %>
  <li> 
    <%= user.login %>
  </li>
<% end %>
</ul>
