
<%= error_messages_for :questionnaire, :object_item_values %>

<% form_for([:public, @questionnaire], :url => {:action => 'new', :page_id => @page }) do |f| %>
    
  <% @current_items.each do |item| %>
  <div class="item">
    <%= render :partial => "items/#{item.html}", :locals => { :item => item } %>
  </div>
  <% end %>
  <br>

  <div class="submit">
  <% if @page > 0 %>
  <p>
    <%= submit_tag t(:back) %>
  </p>
  <% end %>

  <% if @page < @survey.page_ids.count - 1 %>
  <p>
    <%=submit_tag t(:next)%>
  </p>
  <% else %>
  <p>
    <%= submit_tag t(:submit) %>
  </p>
  <% end %>
  </div>
    
<% end %>

<%= link_to t(:survey), public_path(@survey) %>
