<% form_for([:research, @questionnaire]) do |f| %>
  <h1><%= @research.title %></h1>

  <h2><%= @research.subtitle %></h2>

  <p>
    <%=h @research.introduction %>
  </p>
  <p>
    <%= submit_tag t(:subscribe) %>
  </p>
<% end %>
<br/>
<%= link_to t(:surveys), researches_url %>
