
<%= error_messages_for :questionnaire, :object_item_values %>

<% form_for([:research, @questionnaire], :url => {:action => 'new', :page_id => @page + 1 }) do |f| %>

    
  <% @current_items.each do |item| %>
    <%= render :partial => "items/#{item.html}", :locals => { :item => item } %>
  <% end %>
  <br>

  <% if @page < @research.items.maximum('page_id') %>
  <p>
    <%=submit_tag t(:next)%>
  </p>
  <% else %>
  <p>
    <%= submit_tag t(:submit) %>
  </p>
  <% end %>

  <%= link_to t(:back), "javascript:history.back()"  %>
<% end %>

<%= link_to t(:survey), research_url(@research.id) %>
