<h1><%= t(:roles_management) %></h1>
<%= tabbed_navigation %>

<table id="roles_list">
  
  <tr>
    <th><%= t(:label_role_name) %></th>
    <th colspan="3"><%= t(:label_manage) %></th>
  </tr>

  <% @roles.each do |r| %>

  <tr>
    <td><%= r.name %></td>
    <td><%= link_to t(:label_show), admin_role_path(r) %></td>
    <td><%= link_to t(:label_edit), edit_admin_role_path(r) %></td>
    <td><%= link_to t(:label_destroy), { :action => "destroy", :id =>
      r.id }, :confirm => t(:message_confirmation), :method => :delete %></td>
  </tr>

  <% end %>

</table>

<br />

<p class="add"><%= link_to t(:label_new_role), new_admin_role_path %></p>
