<h2><%= item.info %></h2>

<div class="item_values">
  <% item.item_values.each do |item_value| %>
  <% if flash[:answers][item.id.to_s] %>
    <%= check_box_tag "object_item_values[#{item.id}][]", item_value.id, flash[:answers][item.id.to_s].find{|a| a == item_value.id.to_s}  %><%= item_value.info %><br>
  <% else %>
    <%= check_box_tag "object_item_values[#{item.id}][]", item_value.id %><%= item_value.info %><br>
  <% end %>
<% end %>
</div>