<h1>Listing Items</h1>

<table>
  <tr>
    <th>Info</th>
    <th>Research</th>
  </tr>
  <%- @items.each do |item|%>
    <tr>
      <td><%=h item.info %></td>
      <td><%=h item.research_id %></td>
    
      <td><%=link_to 'Bli', {:action => 'bli', :id => item} %></td>
      <td><%=link_to 'Show', object_url(item) %></td>
      <td><%=link_to 'Edit', edit_object_url(item) %></td>
      <td><%=link_to 'Destroy', object_url(item), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= will_paginate %>

<%= link_to 'New Item', new_object_url %>

<%= link_to 'Action Items', {:controller => 'items', :action => 'bla'} %>
