
<ul id="list_items">
  <% @items.each do |item| %>
    <li id="item_<%= item.id %>" class="<%= item.class.to_s.downcase %>">
      <span class="heading"><%= item.info%></span>
      <ul>
        <% unless current_user.is_collaborator?(@survey) %>
          <li> <%= design_display_button 'edit', t(:edit), edit_survey_survey_item_path(@survey, item, :item_type => item.class.to_s.downcase) %> </li>
         <% if item.kind_of?(Question) and not item.is_text? %>
           <% unless @survey.is_active %> 
             <li> <%= design_display_button 'item_value', t(:item_values),                                                                         survey_survey_question_item_values_path(@survey, item) %> </li>
             <li> <%= design_display_button 'dependencies', t(:dependencies),                                                                      dependencies_survey_survey_item_path(@survey, item) %> </li>
           <% end %>
         <% end %>

         <li><%= link_to t(:destroy), { :action => "destroy", :id => item.id }, :confirm => t(:message_confirmation), :method => :delete, :class => "button destroy" %></li>
         <% if item.kind_of?(Section) %>
           <li><%= link_to t(:remove_items), remove_items_survey_survey_item_path(@survey, item, :page => @page) %></li>
         <% end %>
        <% end %>
       </ul>
  <% end %>
</ul>

<%= 
  sortable_element 'list_items', 
        :complete => visual_effect(:highlight, 'list_items'), 
        :url => { :action => "reorder_items", :page => params[:page]},
        :failure => "$('error').innerHTML= request.responseText",
        :constraint => false,
        :dropOnEmpty => true,
        :containment =>  ['list_items']
%>
