
<ul id="list_items">
  <% @items.each do |item| %>
    <li id="item_<%= item.id %>"> 
      <%= item.info%> 
      <ul>
        <li> <%= design_display_button 'edit', t(:edit), edit_survey_research_item_path(@research, item, :item_type => item.class.to_s.downcase) %> </li>
       <% if item.kind_of?(Question) and not item.is_text? %>
         <% unless @research.is_active %> 
           <li> <%= design_display_button 'item_value', t(:item_values),                                                                         survey_research_question_item_values_path(@research, item) %> </li>
         <% end %>
       <% end %>
        <li><%= link_to t(:destroy), { :action => "destroy", :id => item.id }, :confirm => t(:message_confirmation), :method => :delete, :class => "button destroy" %></li>
      </ul>
  <% end %>
</ul>

<%= 
  sortable_element 'list_items', 
        :complete => visual_effect(:highlight, 'list_items'), 
        :url => { :action => "reorder_items", :page => params[:page]},
        :failure => "$('error').innerHTML= request.responseText",
        :constraint => false,
        :dropOnEmpty => true,
        :containment =>  ['list_items']
%>

