<% unless @item.dependencies.blank? %>
  <%= render :partial => "remove_dependency", :locals => {:item => @item, :survey => @survey} %>
<% end %>

<% unless @item.previous.blank? %>
  <b><%= t(:question) %> <%= @item.info %> <%= t(:must_be_answered_only_if) %></b>
<% end %>
<% unless @questions.blank? %>
     <div id="items" >
       <%= t(:label_question) %> <%= select_tag "questions",  "<option>-#{t(:select)}</option>" +                                                                 options_from_collection_for_select(@questions, "id", "info")%>
       <%= observe_item_select(@survey.id, @item.id) %>
     </div>
     <div id="ivalues">
       <!-- replace partial here -->
     </div>
<% end %>

<%= link_to t(:back), survey_survey_items_path(@survey, :page => @item.page_id) %>

