<h2><%= t(:dependencies) %></h2>
<p><%= flash[:error] %></p>

<% unless @questions.blank? %>
     <div id="items" >
       <%= select_tag "questions", options_from_collection_for_select(@questions, "id", "info")%>
       <%= observe_item_select(@survey.id, @item.id) %>
     </div>
     <div id="ivalues">
       <!-- replace partial here -->
     </div>
<% end %>

<%= link_to t(:back), survey_survey_items_path(@survey, :page => @item.page_id) %>

