<h1><%= t(:editing_item)%></h1>

<%= error_messages_for :item %>

<% form_for(:item, :url => object_url(@survey), :html => { :method => :put }) do |f| %>
  <%= render :partial => "#{@item_type}_form", :locals => { :f => f } %>
  <p>
    <%=submit_tag t(:update)%>
  </p>
<% end %>

<br/>

<%= link_to t(:show), object_url(@survey) %>
|
<%= link_to t(:back), survey_survey_items_path(@survey, :page => @item.page_id) %>
