<%= error_messages_for :item_value %>
<%#= FIXME The next field shouldn't appear if :item_id is text %> 
<p><%= label_tag t(:information) + ":" %><br/>
  <%= f.text_field :info %>
</p>
<p><%= label_tag t(:position) + ":" %><br/>
  <%= select_position("item_value", @positions) %>
</p>
