<h1><%= t(:edit_item_value) %></h1>

<%= error_messages_for :item_value %>

<% form_for(:item_value, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>

<br/>

<%= link_to t(:show), object_url %>
|
<%= link_to t(:back), admin_research_question_item_values_url(@item.research_id, @item) %>
