<h1><%=  @research.title %></h1>

<h2><%=  @research.subtitle %></h2>

<%= render :partial => 'research_options', :locals => {:research => @research } %>

<p class="title">
  <%=h @research.title %>
</p>

<p class="intro">
  <%=h @research.introduction %>
</p>

