<%=  @research.title %>

<%=  @research.subtitle %>

<%= render :partial => 'research_options', :locals => {:research => @research } %>

<p>
  <%=h @research.title %>
</p>

<p>
  <%=h @research.introduction %>
</p>

